{:paths ["src" "resources" "target/resources"]
 :deps {com.biffweb/biff {:git/url "https://github.com/jacobobryant/biff" :sha "ee87c7c80f811193508bf8fd06fc1324acceee85"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.0-alpha5"}}}
